.list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 16px;
}

.duty .h2,.p {
	text-align: center;
}

.duty {
	margin: 20px 0;
}

.duty p {
	max-width: 328px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; /* 162.5% */
}

.duty h2 {
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 125% */
	letter-spacing: -1px;
}

@media screen and (min-width: 768px) {
	.list {
		display: grid;
		grid-template-areas:
	". img"
		"h2 img"
"p img"
". img";
		row-gap: 30px;
		justify-content: space-around;
		width: 100%;
	}

	.img {
		grid-area: img;
	}

	.duty .p {
		grid-area: p;
		max-width: 380px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px; /* 162.5% */
	}

	.duty .h2 {
		grid-area: h2;
		max-width: 380px;
		font-style: normal;
		font-weight: 700;
		line-height: 56px; /* 116.667% */
		letter-spacing: -1px;
	}

	.duty {
		margin: 100px auto 30px;
	}
}