.header {
	display: flex;
	justify-content: space-between;
	padding: 20px 16px;
	background-color: #FAFAFA;
}

.logo {
	max-height: 24px;
}

.nav {
	display: none;
}

@media (min-width: 728px) {
	.mobileMenu {
		display: none;
	}

	.nav {
		display: flex;
	}

	.navList {
		display: flex;
		justify-content: center;
		align-items: self-end;
		gap: 30px;
		padding: 1%;
	}

	.header {
		padding: 20px 152px;
	}
}